
@model MultiTenant.Application.Models.MultiTenants.Account.AccountViewModel
@{ ViewData["Title"] = "Create";

    Layout = "~/Views/Shared/_LayoutManager.cshtml"; }
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <h2 style="font-weight:500">Create Account</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link  ">
                <span>ListAccount</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <div class="card-img ">
                                @*<img src="@(Model.nhanVien != null? Url.Content("/img"+Model.nhanVien.Avt) :"/img/icon.png")" height="200" width="200" id="previewImg" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block;" />*@
                                <img src="@(Model.AccountCreate.Avatar != null? Url.Content(Model.AccountCreate.Avatar) :"/img/Avatar/avt-default.png")" id="output" height="240" width="240" style="margin-left: auto; width: 100%; margin-right: auto; max-width: 240px; display: block; border-radius: 50%;" />
                                <br />
                                <input asp-for="AccountCreate.UploadAvt" accept="image/*" style="margin-left: auto; margin-right: auto; display: block;" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])" />
                            </div>

                        </div>
                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*"  onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0])"/>*@

                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*" onchange="ChangeImage(this,'#previewImg')" />*@

                        <div class="form-group">
                            <label asp-for="AccountCreate.UserName" class="control-label"></label>
                            <input asp-for="AccountCreate.UserName" class="form-control" />
                            <span asp-validation-for="AccountCreate.UserName" class="text-danger"></span>
                            <span class="text-danger">@ViewBag.error</span>
                        </div>
                        <div class="form-group">
                            <label asp-for="AccountCreate.Password" class="control-label"></label>
                            <input asp-for="AccountCreate.Password" class="form-control" type="password" />
                            <span asp-validation-for="AccountCreate.Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="AccountCreate.Name" class="control-label"></label>
                            <input asp-for="AccountCreate.Name" class="form-control" />
                            <span asp-validation-for="AccountCreate.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="AccountCreate.Email" class="control-label"></label>
                            <input asp-for="AccountCreate.Email" class="form-control" />
                            <span asp-validation-for="AccountCreate.Email" class="text-danger"></span>
                        </div>
                         <div class="form-group">
                                <label class="control-label col-md-12 mb-0 ">Role</label>
                                <div class="col-md-12">
                                    @*@if (Model.AccountEdit.Role == MultiTenant.Data.Entities_Tenant.Role.Admin)
                                    {

                                        <label class="form-control ps-0 form-control-line label-color">Admin</label> }
                                    else
                                    {
                                        <label class="form-control ps-0 form-control-line label-color">Customer</label>}*@
                                    <input value="@Model.AccountEdit.Role" name="AccountEdit.Role" readonly class="form-control ps-0 form-control-line label-color " />

                                </div>
                            </div>
                        <div class="position-relative form-group">
                            <label asp-for="AccountCreate.TenantId" class="control-label"></label>
                            <select asp-for="AccountCreate.TenantId" class="form-control">
                                @foreach (var item in Model.ListTenant)
                                {
                                   <option value="@item.TenantId">@item.DbName </option>
                               }
                            </select>
                        </div>
                        @*<input asp-for="nhanVien.UpLoadAvt" accept="image/*" onchange="ChangeImage(this,'#previewImg')" />*@
                        <div class="form-group">
                            <input type="submit" value="AddAccount" class="btn btn-primary" />
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
