

@{
    ViewData["Title"] = "Account Mgmt";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model ReflectionIT.Mvc.Paging.PagingList<MultiTenant.Data.Entities_Tenant.Account>
@using ReflectionIT.Mvc.Paging
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="page-title mb-0 p-0">Management</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Management</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List Account</li>

                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <a asp-action="Create" class="btn btn-outline-info">Create</a>
                    <br />                    <br />
                    <form method="get" class="form-inline" style="display:block; float:right">
                        <input name="filter" class="form-control" placeholder="Search..."
                               value="@Model.RouteValue["Filter"]" />
                        <button type="submit" class="btn btn-smn btn-primary">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
                        </button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="table-success align-middle text-center">
                                    <th class="border-top-0">
                                        ID
                                    </th>
                                    <th class="border-top-0">
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th class="border-top-0">
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th class="border-top-0">
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th class="border-top-0">
                                        @Html.DisplayNameFor(model => model.Avatar)
                                    </th>
                                    <th class="border-top-0">
                                        @Html.DisplayNameFor(model => model.TenantId)
                                    </th>
                                    <th class="border-top-0"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr class="align-middle text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @if (item.Role == MultiTenant.Data.Entities_Tenant.Role.Admin)
                                        {
                                            <span>Admin</span>
                                        }
                                        else
                                        {
                                            <span>Customer</span>

                                        }
                                    </td>
                                    <td>
                                        <img src="@item.Avatar" width="120" class="rounded-circle" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenantId)
                                    </td>
                                    <td>

                                        <a asp-action="Edit" asp-route-id="@item.AccId" asp-controller="AccountManagement" class="btn btn-outline-warning">Edit</a>


                                    </td>
                                </tr>
                                }
                                @*<tr>
                            <td colspan="2">
                                @{ int pages = ((int)ViewData["Pages"]); int p = ((int)ViewData["Page"]);}
                                <form asp-action="Index" method="get">
                                    <input type="submit" value="Go to" /> page <input type="number" max="@pages" min="1" name="page" value="@p" style="width: 45px" /> of @pages
                                </form>
                            </td>
                            <td colspan="8" class="text-center">Tổng số: @Model.ListAccount.Count()</td>
                        </tr>*@
                            </tbody>
                        </table>
                    </div>
                </div>
                <nav aria-label="..." style="float:right">

                    @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                </nav>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    2021 ©Copyright By Saigon Technology Solution
</footer>