

@{
    ViewData["Title"] = "Account Mgmt";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model MultiTenant.Application.Models.MultiTenants.Account.AccountViewModel
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc;

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <h2 style="font-weight:500">Account Management</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link active ">
                <span>Account Management</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Create" class="nav-link ">
                <span>Create Account</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "AccountManagement", FormMethod.Get, new { @style = "float: right; width: 40%" }))
                    {
                        <input type="text" id="searchString" name="searchString" placeholder="Find by name or email">
                        <input type="submit" value="Search" class="btn btn-outline-info" style="margin-bottom:5px" />
                    }
                    <br />
                    <br />
                    <br />

                    <table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="table-success align-middle text-center">
                                <th class="border-top-0">
                                    @Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IDSortParm })
                                </th>
                                <th class="border-top-0">
                                    @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
                                </th>
                                <th class="border-top-0">
                                    @Html.DisplayNameFor(model => model.accountRequest.Email)
                                </th>
                                <th class="border-top-0">
                                    @Html.DisplayNameFor(model => model.accountRequest.Role)
                                </th>
                          
                                <th class="border-top-0">
                                    @Html.DisplayNameFor(model => model.accountRequest.Avatar)
                                </th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListAccountRequest)
                            {
                                <tr class="align-middle text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AccId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @if (item.Role == MultiTenant.Data.EntitiesTenant.MultiTenants.Role.Admin)
                                        {
                                            <span>Admin</span>
                                        }
                                        else
                                        {
                                            <span>Customer</span>
                                        }
                                    </td>
                                    <td>
                                        <img src="@item.Avatar" width="120" class="rounded-circle" />
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.AccId" asp-controller="AccountManagement" class="btn btn-outline-warning">Edit</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    Page @(Model.ListAccountRequest.PageCount < Model.ListAccountRequest.PageNumber ? 0 : Model.ListAccountRequest.PageNumber) of @Model.ListAccountRequest.PageCount

                    @Html.PagedListPager(Model.ListAccountRequest, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>

            </div>
        </div>
    </div>

</div>

