@{ ViewData["Title"] = "List Tenant of Account";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model MultiTenant.Application.Models.AccTenants.AccTenantViewModel

<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>

                    <h2 style="font-weight:500">List Tenant Of Account</h2>

                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link active">
                <span>List Tenant</span>
            </a>
        </li>
         <li class="nav-item">
            <a asp-action="AddTenantToAcc" asp-route-id="@Model.accTenantRequest.AccId" class="nav-link ">
                <span>Add Tenant To Account</span>
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table class="table table-hover table-sm">
                        <h3>Account: @Model.accTenantRequest.NameAcc </h3>
                        <br />
                        <thead>
                            <tr>
                                <th>
                                    <label asp-for="accTenantRequest.TenantId" class="control-label"></label>
                                </th>
                                <th>
                                    <label asp-for="accTenantRequest.DbName" class="control-label"></label>
                                </th>

                                <th>
                                    <label asp-for="accTenantRequest.URL" class="control-label"></label>
                                </th>

                                <th>
                                    <label asp-for="accTenantRequest.Favicon" class="control-label"></label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListAccTenant)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenantId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DbName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.URL)
                                    </td>

                                    <td>
                                        <img src="@item.Favicon" width="120" class="rounded-circle" />
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", new { TenantId = item.TenantId, AccId=Model.accTenantRequest.AccId }, new { @class = "btn btn-sm btn-outline-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br /><br />
                    <a asp-action="Index" asp-controller="AccountManagement" class="btn btn-secondary">Back</a>

                </div>        
            </div>
        </div>
    </div>
</div>