
@{
    ViewData["Title"] = "Tenant Mgmt";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}
@model MultiTenant.Application.Models.MultiTenants.Tenants.TenantViewModel
@using X.PagedList.Mvc.Core;
@using Microsoft.AspNetCore.Mvc;
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div>
                    <h2 style="font-weight:500">List Account</h2>
                </div>
            </div>
        </div>
    </div>
    <ul class="body-tabs body-tabs-layout tabs-animated body-tabs-animated nav">
        <li class="nav-item">
            <a asp-action="Index" class="nav-link active ">
                <span>List Tenant</span>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Create" class="nav-link ">
                <span>Create</span>
            </a>
        </li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    @using (Html.BeginForm("Index", "TenantManagement", FormMethod.Get, new { @style = "float: right; width: 40%" }))
                    {
                        <input type="text" id="searchString" name="searchString" placeholder="Find by name tenant">
                        <input type="submit" value="Search" class="btn btn-outline-info" style="margin-bottom:5px" />
                    }
                    <br />
                    <br />
                    <br />

                    <table class="table table-hover table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="table-success align-middle text-center">
                                <th class="border-top-0">
                                    @Html.ActionLink("Tenant ID", "Index", new { sortOrder = ViewBag.IDSortParm })
                                </th>

                                <th class="border-top-0">
                                    @Html.DisplayNameFor(model => model.TenantRequest.URL)
                                </th>
                                <th class="border-top-0">
                                    @Html.ActionLink("Database Name", "Index", new { sortOrder = ViewBag.DbNameSortParm })
                                </th>
                                <th class="border-top-0">
                                    @Html.DisplayNameFor(model => model.TenantRequest.Favicon)
                                </th>
                                <th class="border-top-0"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListTenantRequest)
                            {
                                <tr class="align-middle text-center">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TenantId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.URL)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DbName)
                                    </td>
                                    <td>
                                        <img src="@item.Favicon" width="120" class="rounded-circle" />
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.TenantId" asp-controller="TenantManagement" class="btn btn-outline-warning">Edit</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    Page @(Model.ListTenantRequest.PageCount < Model.ListTenantRequest.PageNumber ? 0 : Model.ListTenantRequest.PageNumber) of @Model.ListTenantRequest.PageCount

                    @Html.PagedListPager(Model.ListTenantRequest, page => Url.Action("Index",
                        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
        </div>
    </div>

</div>
